body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  min-height: 100vh;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 2rem 0;
}

header h1 {
  font-family: 'Gruppo', cursive;
  margin-bottom: 2rem;
  font-size: 4rem;
}

header p {
  width: 35rem;
  margin: auto;
}

.handle-button {
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

#board {
	border: inset #d5d5d5 4px;
	display: grid;
	margin: auto;
}
.cell {
	border: outset #b9b9b9 4px;
	background: lightgrey;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
}
.cell:hover {
	background: #b1b1b1;
}
.reveal-mine, .reveal-mine:hover{
  background: #ab0000;
  border: solid grey 1px;
}
.reveal-empty, reveal-empty:hover {
	background: #bdbdbd;
	border: solid #b1b1b1 1px;
}


.game-container {
	padding: 10px;
	background: #bdbdbd;
	width: max-content;
	margin: auto;
	border: outset #b1b1b1 4px;
}
.game-display {
	height: 5rem;
	width: 100%;
	background: #c0c0c0;
	border: inset #d5d5d5 5px;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.smiley{
	font-size: 1.5rem;
	border: outset #b9b9b9 3px;
	padding: 0.2rem;
}